In [19]:
a = 500
price = 450
if price <= 500:
    print("yes i will be able to buy")

yes i will be able to buy

In [11]:
price <= 500

True

In [14]:
a = 500
price = 450
if price <= 500:
    pass

In [15]:
price <= 500

True

In [18]:
850 <= 500

False

In [20]:
a = 500
price = 850
if price <= 500:
    print("yes i will be able to buy")
else:
    print("I won't be able to buy")

I won't be able to buy

In [22]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
if coat_price <= a:
    print("I will try to buy a coat")
elif pant_price < 500:
    print("I will try to buy a pant")
elif shirt_price < 500:
    print("I will try to buy a shirt")
else:
    print("I won't be able to buy")

I will try to buy a shirt

In [27]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = 'L'
if coat_price <= a:
    print("I will try to buy a coat")
elif pant_price < 500:
    print("I will try to buy a pant")
elif shirt_price < 500:
    if my_size == size_store:
        print("yes its available under my budget")
    print("I will try to buy a shirt")
else:
    print("I won't be able to buy")

I will try to buy a shirt

In [36]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = 'M'
size_store = ['L', 'XL', 'S', 'XXL', 'XXXL', 'M']
my_fav_clr = 'white'
store_clr = ['white', 'red', 'blue', 'black']
if coat_price <= a:
    print("I will try to buy a coat")
elif pant_price < 500:
    print("I will try to buy a pant")
elif shirt_price < 500:
    print("yes its available under my budget")
    if my_size in size_store:
        print("I will try to buy a shirt")
        if my_fav_clr in store_clr:
            print("Yes I will try to chose it")
        else:
            print("my favorite color is not available I will move to another store")
    else:
        print("my size is not available")
else:
    print("I won't be able to buy")

yes its available under my budget
I will try to buy a shirt
Yes I will try to chose it

In [29]:
'M' in size_store

False

In [42]:
course = ['DSM', 'DSA', 'Java', 'Big Data', 'DA']
price = 20000
mentor = "sudhansu kumar"
if 'DSM' in course and price == 20000 and "sudhansu kumar" == mentor:
    print("Yes I am doing this course")

Yes I am doing this course

In [46]:
course_price = 20000
if 10000<=course_price<=15000:
    print("I will try to buy a course")
else:
    print("Its out of my budget")

Its out of my budget

In [52]:
user_name = 'sudh'
password = 'sudh@1234'
if user_name == input('enter your username') and password == input('enter your password'):
    print('you have logged in successfully')
else:
    print('enter correct username and password')

enter your username sudh
enter your password sudh@1234

you have logged in successfully

In [60]:
mobile_no = 123456
otp = 1234
if mobile_no == int(input('enter your registered mobile number')):
    print('yes you are a registered user')
    if otp == int(input('enter otp that we have sent on your registered mobile number')):
        print('you have logged in successfully')
    else:
        print('otp is not correct please try to enter again')
else:
    print('you have not entered a valid mobile number')

enter your registered mobile number 123456

yes you are a registered user

enter otp that we have sent on your registered mobile number 1234

you have logged in successfully

In [64]:
mobile_no = {9576378995, 8987395075, 9470665737, 8630045812}
otp = 1234
if int(input('enter your registered mobile number')) in mobile_no:
    print('yes you are a registered user')
    if otp == int(input('enter otp that we have sent on your registered mobile number')):
        print('you have logged in successfully')
    else:
        print('otp is not correct please try to enter again')
else:
    print('you have not entered a valid mobile number')

enter your registered mobile number 9576378995

yes you are a registered user

enter otp that we have sent on your registered mobile number 1234

you have logged in successfully

In [79]:
l = [12,3,3,4,5,6,6]
mobile_no = [9576378995, 8987395075, 9470665737, 8630045812]
stud_no = 8630045812
stud_details = {'mobile_no':8630045812,'course':['dsa', 'dsm', 'big data']}
for i in mobile_no:
    print(i)
    if i == stud_no:
        print('yes user is registered')
        if i == stud_details['mobile_no']:
            print('yes student details are available in db')
            print('course accessed to this user is', stud_details['course'])

9576378995
8987395075
9470665737
8630045812
yes user is registered
yes student details are available in db
course accessed to this user is ['dsa', 'dsm', 'big data']

In [87]:
t = (12,3,4,5,56, 'anubhav', 'karan')
l_int = []
l_str = []
for i in t:
    if type(i) == str:
        l_str.append(i)
    elif type(i) == int:
        l_int.append(i)
print(l_int)
print(l_str)

[12, 3, 4, 5, 56]
['anubhav', 'karan']

In [88]:
s = {3,4,5,7,8,56,76}

In [89]:
s

{3, 4, 5, 7, 8, 56, 76}

In [90]:
for i in s:
    print(i)

3
4
5
7
8
56
76

In [91]:
d = {'name': 'Anubhav', 'class': ['big data', 'data analytics', 'data science', 'dsa', 'architecture'], 'mobile no': 9576378995,'email id': 'anubhavkaran957@gmail.com' }

In [92]:
d

{'name': 'Anubhav',
 'class': ['big data',
  'data analytics',
  'data science',
  'dsa',
  'architecture'],
 'mobile no': 9576378995,
 'email id': 'anubhavkaran957@gmail.com'}

In [97]:
for i in d.items():
    print(i)

('name', 'Anubhav')
('class', ['big data', 'data analytics', 'data science', 'dsa', 'architecture'])
('mobile no', 9576378995)
('email id', 'anubhavkaran957@gmail.com')

In [100]:
for i in d.values():
    if type(i) == list:
        print(i)

['big data', 'data analytics', 'data science', 'dsa', 'architecture']

In [101]:
for i in d.values():
    if type(i) == list:
        if 'system design' in i:
            print('Yes its available')
        else:
            print('No its not available')

No its not available